*{
    margin: 0;
    padding: 0;
    
}





#header{
    width: 100%;
    height: 20%;
}
#navegador{
   
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    
}
.ulNav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0px 20px 0px;
    gap: 5px 25px;
    list-style: none;
    height: 20px;
}

.link {
    text-decoration: none;
    margin: 10px;
    letter-spacing: 2px;
    color: black;
    

    
}
.link:hover{
    color: #c58b05;
    border-bottom: 2px solid #c58b05;
    padding-bottom: 3px;
    font-weight: bold;
}
.nav-redes{
 margin-left: 50px;
 display: flex;
 flex-wrap: wrap;

}
.nav-redes img{
    margin: 0px 10px 0px 10px;
}



/*FORM TRABALHE*/
#section{
    width: 100%;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;
    
    background-color: #e4a207;
   
}
.titulo h2{
    font-weight: bold;
    letter-spacing: 1.5px;
    display: flex;
    justify-content: center;
}
.section-formulario form{
    display: flex;
    flex-direction: column;
}

.imagen{
    display: flex;
    flex-wrap: wrap;
}

.imagen img{
    width: 800px;
    height: 550px;
}

/*FIM FORM TRABALHE*/

/*FIN MAIN*/

/*FOOTER*/
#footer{
    width: 100%;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color:#012952 ;
}

.footer-section h3,.footer-data-h3{
    color: #c58b05;
    font-size: 15px;
}
.footer-section p{
    color: #F7F4EE;
}
.footer-data p{
    color: #F7F4EE;
    margin-bottom: none;
}

/*FIM FOOTER*/