<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Funcionario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/styles.css}" href="css/styles.css">
  </head>
  <body>
    <header id="header">
        <nav id="navegador">
            <ul class="ulNav">
              <li><a class="link" href="/funcionario">Inicio</a></li>
              <li><a class="link" href="/administrador/conta">Café da Manhã</a></li>
              <li><a class="link" href="/administrador/contratar">Limpeza</a></li>
              <li> <a class="link" href="/administrador/fale_conosco">Liberar Quartos</a></li>
            </ul>
            <div class="nav-redes">
              <img src="assets/images/facebook.png" alt="" width="50px" height="50px">
              <img src="assets/images/instagram.png" alt="" width="50px" height="50px">
              <img src="assets/images/whatsapp.png" alt="" width="50px" height="50px">
             </div>
          </nav>

          <div class="container-fluid">
            <div class="text-center"><h2> Funcionario </h2></div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>